body { 
    /* background-color: gainsboro; */
    main {
        .table {
            max-height: 100px;
            overflow: auto;
            /* display:inline-block; */
            background-color: red;
        }
    }
}