<launch>
    <!-- Simulated robot's hardware -->
    <include file="$(find hardware)/launch/hardware.launch" />
    
    <group ns="motion_planner">
        <rosparam>
            behavior: light_follower
            max_advance: 0.15
            max_turn_angle: 0.7854
            threshold_follower: 800
        </rosparam>
        
        <node name="motion_planner_node" pkg="motion_planner" type="motion_planner_node" output="screen" />
    </group>
    
</launch>