<launch>

    <include file="$(find motion_planner)/launch/motion_planner_simul.launch" />
    
    <group ns="arena_mapping">
        <!-- NODES TO RVIZ VISUALIZATION -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arena_mapping)/assets/visualization/config_visualization.rviz" />
        <node name="map_server" pkg="map_server" type="map_server" args="$(find arena_mapping)/assets/maps/arena_map.yaml" >
            <param name="frame_id" value="map" />
        </node>
        
        <node name="arena_simul_markers" pkg="arena_mapping" type="arena_simul_markers.py" />

        <!-- NODES TO DETECT VISUAL'S MAIN CHARACTERISTICS -->
        <!-- <node name="aruco_detector"  pkg="arena_mapping" type="aruco_detector.py" output="screen" respawn="true" /> -->
        <node name="obstacles_color_detector" pkg="arena_mapping" type="obstacles_color_detector.py" output="screen" respawn="true" />
    </group>
    
</launch>
