<launch>
    <group ns="arena_mapping">

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <remap from="joint_states" to="/joint_states" />
        </node>
        <!-- Nodes to Rviz visualization -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arena_mapping)/assets/visualization/config_visualization_test.rviz" />
        <node name="map_server" pkg="map_server" type="map_server" args="$(find arena_mapping)/assets/maps/arena_map.yaml" >
            <param name="frame_id" value="map" />
        </node>
        <!-- <node name="arena_simul_markers" pkg="arena_mapping" type="arena_simul_markers.py" /> -->

        <!-- Nodes to detect main characteristics -->
        <!-- <node name="aruco_detector"  pkg="arena_mapping" type="aruco_detector.py" output="screen" respawn="true" /> -->
        <!-- <node name="obstacles_color_detector" pkg="arena_mapping" type="obstacles_color_detector.py" output="screen" respawn="true" /> -->
    </group>
</launch>
