<launch>
    <!-- Rosbag to play the arena's recording -->
    <node name="play_bag" pkg="rosbag" type="play" args="$(find arena_mapping)/rosbags/bag_only_camera.bag" respawn="true" />
    <!-- Nodes to Rviz visualization -->
    <param name="robot_description" command="cat '$(find arena_mapping)/assets/urdf/minibot.urdf'" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arena_mapping)/assets/visualization/config_simulator.rviz" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find arena_mapping)/assets/maps/arena_map.yaml" >
        <param name="frame_id" value="map" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="joint_states" to="/joint_states" />
    </node>
    <!-- Launch mobile base -->
    <include file="$(find mobile_base)/launch/bring_up_base.launch" />
    <!-- Graphics node -->
    <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" args="--layout '$(find arena_mapping)/assets/visualization/config_plot_profiles.xml'" />
    <!-- Nodes to detect main characteristics -->
    <node name="aruco_detector"  pkg="arena_mapping" type="aruco_detector.py" output="screen" respawn="true" />
    <node name="obstacles_color_detector" pkg="arena_mapping" type="obstacles_color_detector.py" output="screen" respawn="true" />
</launch>
