# Ignore everything
*

# But these files
!.gitignore
!LICENSE
!readme.MD

!mobile_base_node_simul.cpp
!mobile_base_node.cpp
!move_minibot_node_simul.cpp
!move_minibot_node.cpp

# And these subdirectories
