<launch>
    <!-- Start arena characteristics -->
    <include file="$(find arena_mapping)/launch/startup.launch" />
    
    <group ns="web_server">
        <!-- Nodes to start web services -->
        <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen" />
        <node name="web_controller" pkg="arena_web_server" type="web_controller.py" output="screen" />
    </group>
</launch>
