<launch>
    <group ns="hardware">
        <rosparam command="load" file="$(find hardware)/params/robot_id.yaml" />
        <rosparam>lasers_noise: 0.01</rosparam>
        <node name="light_sensors_node" pkg="hardware" type="light_sensors_node" output="screen" />
        <node name="laser_scan_node" pkg="hardware" type="laser_scan_node" output="screen" />
    </group>
</launch>