# Ignore everything
*

# But these files
!.gitignore
!LICENSE
!readme.MD

# And these subdirectories
!relays_controller
!relays_controller/relays_controller.ino
!relays_controller/Makefile

!relays_controller_server
!relays_controller_server/relays_controller_server.ino
!relays_controller_server/Makefile
