<launch>
    <rosparam command="load" file="$(find arena_control)/assets/params/relays.yaml" />
    <!-- Node for hardware's camera -->
    <!--node name="usb_cam_node" pkg="usb_cam" type="usb_cam_node" output="screen"/-->
    <!-- Node to connect with micro-controller -->
    <node name="relays_controller" pkg="rosserial_python" type="serial_node.py" required="true" output="screen">
        <param name="port" value="/dev/ttyACM0" />
    </node>	
</launch>
