<launch>
    <!-- Robot' description -->
    <param name="robot_description" command="cat '$(find mobile_base)/assets/urdf/minibot.urdf'" />
    
    <group ns="mobile_base">
        <rosparam command="load" file="$(find mobile_base)/assets/params/profile_params.yaml" />
        <rosparam>
            robot_pose_x: 0.90
            robot_pose_y: 0.62
            robot_pose_w: 0.78
            enable_movements: false
        </rosparam>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <remap from="joint_states" to="/joint_states" />
        </node>

        <node name="mobile_base_node" pkg="mobile_base" type="mobile_base_node" />
        <node name="move_minibot_node" pkg="mobile_base" type="move_minibot_node" output="screen" />
    </group>

    <!-- Node to plot simulated movement's data -->
    <!-- <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" args="layout '$(find mobile_base)/assets/visualization/config_plot_profiles.xml'" /> -->
</launch>